.shoppingCartWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    height: 100%;
}

.shoppingCart {
    overflow-y: auto;
    /* Allow the cart menu content to scroll */
    height: 600px;
    /* Keep the height of the cart menu */
    padding: 115px 15px 20px 32px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 21px;
    height: calc(100% - 146px);
    /* Ensure space for the footer */
    overflow-y: auto;
    /* Enable vertical scrolling */
    position: relative;
}

h3 {
    font-weight: 600;
    font-size: 24px;
}

.cartItem {
    display: flex;
    align-items: center;
    position: relative;
    column-gap: 10%;
}

.productImgCart {
    width: 105px;
    height: 105px;
    border-radius: 10px;
}

.productImgCart img {
    width: 100%;
    height: 100%;
}

.hrCartTop {
    color: #D9D9D9;
    border: none;
    background-color: #D9D9D9;
    height: 1px;
    margin: 5px 0;
    width: 79%;
}

/* Fix the footer inside the cart menu */
.shoppingCartFooter {
    /* position: fixed; */
    /* bottom: 0;
    left: 0; */
    width: calc(100% - 27px);
    /* Account for the padding */
    /* padding-left: 27px; */
    background-color: white;
    /* Ensure the footer stands out */
    height: 146px;
    padding: 20px 0px 20px 27px;
    /* z-index: 200; */
}

.itemsWrapper {
    padding-top: 38px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 20px;
    overflow-y: auto;
    margin-left: 20px;
}

.shoppingCartFooter hr {
    width: 100%;
    background-color: #D9D9D9;
    margin: 24px 0;
}

.shoppingCartFooter div {
    display: flex;
    column-gap: 33%;
}

.cartSpan {
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 22px;
    margin: 10px 0px;
    cursor: pointer;
    width: 57px;
    text-align: center;
}

.cartSpan span {
    width: 100%;
}

.totalinMenu {
    color: #B88E2F;
    font-weight: 600;
    font-size: 16px;
}

.removeIcon {
    position: absolute;
    right: 16px;
    top: -14px;
    cursor: pointer;
}

.bag-icon {
    position: absolute;
    right: 34px;
    top: 12px;
    cursor: pointer;
}

.itemPrice {
    color: #B88E2F;
    font-weight: 500;
    column-gap: 24%;
    font-style: normal;
    font-size: 12px;
}

.itemCount {
    font-weight: 300;
    font-size: 16px;
}

.d-column-cart-item {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 50%;
    text-align: justify;
}

.d-column-cart-item p {
    font-weight: 400;
}

.d-row-cart {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.fixedTopSide {
    /* position: absolute; */
    /* top: 0; */
    /* Stick to the top of the cart menu */
    background-color: white;
    /* Ensure it's visible */
    /* z-index: 102; */
    /* Keep it above other elements in the cart menu */
    padding: 15px 32px;
    /* Add padding for spacing */

}